body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.choices {
    position: absolute;
    padding: 2px 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    width: 50px;
    text-align: center;
    transition: transform 0.3s ease;
}

#notachoice {
    left: calc(55% - 20px);
    top: calc(45% - 5px)
    /* transform: translate(-50%, -50%) scale(1); */
    
}

#choice1 {
    left: calc(45% - 20px);
    top: calc(45% - 5px);
    /* transform: translate(-50%, -50%) scale(1); */
}

.choices:hover {
    transform: scale(1.1);
}
.enlarge {
    transform: scale(1.1);
}
